<% content_for :title do %>
    Schedule Logs
<% end %>

<div class="card">
    <table class="table table-hover">
        <thead>
            <tr class="alpha-primary">
                <th>Log Time</th>
                <th>Stage</th>
                <th>Message</th>
                <th>Success</th>
            </tr>
        </thead>
        <tbody>
            <% @logs.order('logtime desc').each do |log| %>
                <tr>
                    <td class="text-nowrap"><%= log.logtime.strftime("%d/%m/%Y - %T, %L") %></td>
                    <td><%= '' %></td>
                    <td><%= log.message %></td>
                    <td><%= log.success? ? 'OK' : 'Failed' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>